---
import Main from "../layouts/Main.astro";
---

<Main title="contact">
  <h1>Contact me if you dare</h1>
</Main>

<!-- <style lang="scss">
  @import "../styles/colors.scss";
  h1 {
    color: $darker;
  }
</style> -->
